<p>Edit Product: {{productId}}</p>

<!-- FormGroup -->
<!-- # is a template variable -->
<form #form #formGroup="ngForm">
    {{form}}
    {{formGroup}}
    <div class="form-group">
        <label>Name</label>
        <!-- FormControl(provided we are using ngmodel) -->
        <!-- need to provide unique name for FormControl-->
        <input name="productName" class="form-control" placeholder="Name"  [(ngModel)]="product.name" required #nameControl="ngModel"/>
        <div *ngIf="nameControl.invalid" class="alert alert-danger">The field is required</div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <!-- FormControl -->
        <input name="productPrice" class="form-control" placeholder="Price"  [(ngModel)]="product.price"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <!-- FormControl -->
        <input name="productDesc" class="form-control" placeholder="Description"  [(ngModel)]="product.description"/>
    </div>
    <br/>
    <div class="form-group">
        <button class="btn btn-success" [disabled]="formGroup.pristine || formGroup.invalid">Save</button>
        &nbsp;
        <button class="btn btn-info">Cancel</button>
    </div>
</form>
